@import url("/css/sprite.css");

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

 body {
  color: #405275;
  background-color: #f0edf2;
  background-image: url("/img/ow-heroes-bg.jpg");
  font-family: Arial,sans-serif;
  font-size: 15px;
  line-height: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.4;
 }


 h1, h2, h3, h4, h5 {
 	font-family: Futura, Verdana, Sans-Serif;
 	font-weight: 700;
 	font-style: normal;
 /*	text-transform: uppercase;*/
 }

 .content {
 	padding: 6px;
  padding-top: 80px;
  padding-bottom: 80px;
 }


 input {
     text-align: center;
 }

 #urlDestination {
   visibility: hidden;
 }

 /* @group Footer */

 #footer {
 	font-family: georgia, serif;
 	font-size: 13px;
 	line-height: 18px;
 	background: #262B2F;
 	color: #999;
 	margin: 0;
 	text-shadow: 1px 1px 1px #333;
 }

 #footer a, #footer a:link {
 	color: #ccc;
 }

 #footer a:hover {
 	color: #c6e9ff;
 }

 #copyright {
 	font-size: 12px;
 	padding: 10px 0 20px 0;
 	text-align: center;
 }

 #copyright p {
 	padding: 0;
 }

 /* @group Overwatch Hero */

 #overwatch-hero {
  background-image: url('/img/hero-portrait-detailed-bg.jpg');
  width: 180px;
  height: 310px;
  border-left: 1px solid rgba(39,39,39,0.75);
  border-top: 1px solid rgba(39,39,39,0.75);
  border-right: solid 1px rgba(39,39,39,0.75);
  border-bottom: solid 1px rgba(39,39,39,0.75);
  -moz-border-radius: 8px;
  border-radius: 8px;
 }

 #overwatch-hero > span {
     bottom: 0;
     left: 0;
     display: block;
     width: 100%;
     text-align: center;
     height: 7rem;
     background: rgba(40,53,79,.9);
     transition: all .1s
 }

 #overwatch-hero > span > span {
     font-size: 2.8rem;
     font-family: Big Noodle Too,impact,sans-serif;
     font-style: italic;
     color: #d0d0dc;
     width: 100%;
     left: 0;
     bottom: 6px;
     transition: inherit
 }

 #randomPicker > div > button {
 }


 /* @end */


