
.icon-none {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAALQAAAABCAQAAADdw0x/AAAADUlEQVR42mNkGAV0AQAC0gACQzjpxAAAAABJRU5ErkJggg==);
}

.icon {
  background-image: url('/img/sprite.png');
  position: relative;
  left: -4px;
  top: -2px;
}

.icon-orisa {
  background-position: -0px -0px;
  width: 182px;
  height: 312px;
}
.icon-ana {
  background-position: -0px -318px;
  width: 182px;
  height: 312px;
}
.icon-brigitte {
  background-position: -0px -636px;
  width: 182px;
  height: 312px;
}
.icon-doomfist {
  background-position: -0px -954px;
  width: 182px;
  height: 312px;
}
.icon-dva {
  background-position: -0px -1272px;
  width: 182px;
  height: 312px;
}
.icon-genji {
  background-position: -0px -1590px;
  width: 182px;
  height: 312px;
}
.icon-hanzo {
  background-position: -0px -1908px;
  width: 182px;
  height: 312px;
}
.icon-junkrat {
  background-position: -0px -2226px;
  width: 182px;
  height: 312px;
}
.icon-lucio {
  background-position: -0px -2544px;
  width: 182px;
  height: 312px;
}
.icon-mccree {
  background-position: -0px -2862px;
  width: 182px;
  height: 312px;
}
.icon-mei {
  background-position: -0px -3180px;
  width: 182px;
  height: 312px;
}
.icon-mercy {
  background-position: -0px -3498px;
  width: 182px;
  height: 312px;
}
.icon-moira {
  background-position: -0px -3816px;
  width: 182px;
  height: 312px;
}
.icon-bastion {
  background-position: -0px -4134px;
  width: 182px;
  height: 312px;
}
.icon-pharah {
  background-position: -0px -4452px;
  width: 182px;
  height: 312px;
}
.icon-reaper {
  background-position: -0px -4770px;
  width: 182px;
  height: 312px;
}
.icon-reinhardt {
  background-position: -0px -5088px;
  width: 182px;
  height: 312px;
}
.icon-roadhog {
  background-position: -0px -5406px;
  width: 182px;
  height: 312px;
}
.icon-soldier-76 {
  background-position: -0px -5724px;
  width: 182px;
  height: 312px;
}
.icon-sombra {
  background-position: -0px -6042px;
  width: 182px;
  height: 312px;
}
.icon-symmetra {
  background-position: -0px -6360px;
  width: 182px;
  height: 312px;
}
.icon-torbjorn {
  background-position: -0px -6678px;
  width: 182px;
  height: 312px;
}
.icon-tracer {
  background-position: -0px -6996px;
  width: 182px;
  height: 312px;
}
.icon-widowmaker {
  background-position: -0px -7314px;
  width: 182px;
  height: 312px;
}
.icon-winston {
  background-position: -0px -7632px;
  width: 182px;
  height: 312px;
}
.icon-zarya {
  background-position: -0px -7950px;
  width: 182px;
  height: 312px;
}
.icon-zenyatta {
  background-position: -0px -8268px;
  width: 182px;
  height: 312px;
}
